.wrapper {
  /* border: 1px solid;
  padding: 10px; */
  margin-bottom: 10px;
}

.text {
  display: inline-block;
  /* background-color: red; */
  border: 1px solid;
  padding: 10px;
  border-radius: 12px 12px 12px 0;
}