.container {
  height: 360px;
  width: 180px;
  border: 1px solid blue;
  border-radius: 12px;
  background: #b4d2e7;
  overflow: hidden;
}

.cover {
  width: 100%;
  height: 280px;
  /* color: blue; */
  background-color: blue;
}
