.wrapper {
  width: 100%;
  background: rgb(248, 248, 248);
  padding: 10px;
  font-size: 14px;
  margin-bottom: 4px;
  border-radius: 10px;
  display: flex;
  
}

.flexitem_1 {
  flex: 0 0 50px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: grey;
}

.flexitem_2 {
  flex: 1 0 0;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.name, .text {
  display: block;
  flex: 0 0 25px;
  align-items: center;
  /* justify-content: center; */
  font-size: 18px;
  /* display: flex; */
  width: 100%;
}

.text {
  flex: content;
  /* width: 100%; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* min-width: 0px; */
}

.flexitem_3 {
  /* flex: 0 0 50px; */
  display: flex;
  align-items: end;
  justify-content: end;
  /* font-size: 20px; */
}


.date {
  /* justify-self: end; */
  /* text-overflow: ellipsis; */
  font-size: 16px;
  padding-bottom: 6px;
}